.logo{
  font-size: 25px;
  font-family: sans-serif;
  /* text-shadow:  7px 3px 5px #757575; */
}

/*
 */

.tagline, h3 {
  text-align: center;
  margin-top: 30
}

nav {
  float: right;
  margin-top: -45px;
}

nav a {
  margin: 9px;
  /* margin-top: -27px; */
}

textarea {
  height: 200px;
  width: 600px;
}

#text-area{
  text-align: center;
}

body {
  /* color: #888; */
  font: 400 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

 #exc {
   width: 33.33%;
   display: inline-block;
   vertical-align: top;
   text-align: center;

   /* float: left; */
 }

 #gd {
   width: 33.33%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
   /* text-align: center; */
 }

 #dn {
   width: 33.33%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
    /* float: left; */
 }


.btn {
  width: 15px;
}
